.flex {
  display: flex;

  &-row,
  &-column {
    @extend .flex;
  }

  &-column {
    flex-direction: column;
  }

  &.justify-sb {
    justify-content: space-between;
  }

  &.align-c {
    align-items: center;
  }

  /* GAP */

  &.gap--16 {
    gap: 16px;
  }

  &.gap--24 {
    gap: 24px;
  }
}
