.flex {
  display: flex;

  &-row,
  &-column {
    @extend .flex;
  }

  &-column {
    flex-direction: column;
  }

  &.justify-sb {
    justify-content: space-between;
  }

  &.align-c {
    align-items: center;
  }
}
