/* COLORS */
$color-primary: #5947f8;
$color-primary-darker: #4638c4;
$color-primary-light-soft: #dad7f5;

/* TEXT COLORS */
$color-text: #333;
$color-text-light: #555;
$color-text-light-soft: #777;

$color-text-error: #ff3e3e;

/* LIGHT/DARK THEME COLORS */
$color-foreground: #fdfdfd;
$color-background: #edebff;

/* CARD */
$color-card-shadow: rgba(51, 51, 51, 0.137);
