/* COLORS */
$color-primary: #5947f8;
$color-primary-darker: #4638c4;

/* TEXT COLORS */
$color-text: #333333;

/* LIGHT/DARK THEME COLORS */
$color-foreground: #fdfdfd;
$color-background: #edebff;

/* CARD */
$color-card-shadow: rgba(51, 51, 51, 0.137);
