@import "./abstracts/includes";
@import "./base/includes";
@import "./components/includes";
@import "./layouts/includes";
@import "./pages/includes";

/* GENERAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
