.card {
  background-color: $color-foreground;
  box-shadow: 0 0 9px 2px $color-card-shadow;
  padding: 1rem;
  border-radius: 15px;

  &-image {
    width: 100%;
    max-height: 300px;
    background-color: #dfdfdf;
    object-fit: contain;
  }
}
