.media-slider {
  &-preview {
    position: relative;
    margin-bottom: 0.4rem;
  }

  &-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }

  &-btn {
    &-back,
    &-next,
    &-remove {
      position: absolute;
      z-index: 100;
    }

    &-back,
    &-next {
      top: 50%;
      transform: translateY(-50%);
    }

    &-back {
      left: 1rem;
    }

    &-next,
    &-remove {
      right: 1rem;
    }

    &-remove {
      top: 1rem;
    }
  }
}
