.slider-bar {
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;

  &,
  &-background {
    width: 100%;
  }

  &,
  &-progress,
  &-background {
    height: 4px;
  }

  &-progress,
  &-background {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
  }

  &-progress {
    background-color: #ffffff; // Default color
    z-index: 2;
  }

  &-background {
    background-color: #cfcfcf; // Default color
    z-index: 1;
  }
}
