.text-area {
  margin: 1rem 0;

  &-char-limit {
    display: block;
    text-align: end;
  }

  &-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-primary;
    resize: none;

    padding: 0.4rem;
    margin-bottom: 0.2rem;

    outline: none;
    color: $color-text-light;
    background-color: transparent;

    letter-spacing: 0.02rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;

    overflow: hidden;
    height: 1.3rem;
  }
}
